* 
{
	box-sizing: border-box;
}

.header{
	background-color:#CCB76E;padding:15px;text-align:center;color:white;
}

.footer{
	background-color:#CCB76E;text-align:center;padding:10px;margin-top:7px;color:white;
}

.body{
	font-family:Verdana;color:#aaaaaa;
}

.container{
	overflow: auto;
}

.maps{
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
	height: 400px;
}

.main-100 
{
	float: left;
	width: 100%;
	padding: 0 20px;
	color: black;
}

.main-50 
{
	float: left;
	width: 50%;
	padding: 0 20px;
	color: black;
}

.covid {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
  }
  
.covid td, .covid th {
	border: 1px solid #ddd;
	padding: 8px;
  }
  
.covid tr:nth-child(even){background-color: #f2f2f2;}
  
.covid tr:hover {background-color: #ddd;}
  
.covid th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #CCB76E;
	color: white;
  }


@media only screen and (max-width:620px) 
{
	/*for mobile phone*/
	.main-100
	{
		width: 100%;
		height: auto;
	}
}